@use './styles/mixin.scss' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.search-bar span,
.done{
  background-color: #3A5F0B;
}

.search-bar{
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  input{
      padding: 5px;
      flex-grow: 1;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #444;
  }

  span{
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  @include text-yellow;
  text-align: center;
  margin: 15px auto;
}


// Liste

li{
  list-style: none;
  a{    
      text-decoration: none;
      .list-el{
          border: 1px solid grey;
          border-radius: 5px;
          margin: 2px auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: white;
          flex-grow: 1;
          padding: 7px 5px;
      }
  }
}

.input-container {
  position: relative;
  display: inline-block;
  input {
      width: 100%;
      padding-right: 30px;
      box-sizing: border-box;
  }
  i {
      position: absolute;
      top: 55%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      color: green;
      transition: color 0.2s ease;
  }
}

.icon-container{
    display: inline-block;
    padding: 5px 8px;
    background: #3d3d3d;
    border-radius: 5px;
    margin-right: 5px;
        
    
    .fa-solid.fa-copy{
    }
  }
.fa-solid.fa-trash{
    background: linear-gradient(90deg, #ff4500, #ff6347, #ff7f50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.right{
  text-align: right;
  font-size: 0.8rem;
}

// div linea
.line{
  width: 60%;
  margin: 0 auto;
  height: 2px;
  margin: 20px auto;
}

// Colori testi

.yellow-text {
  @include text-yellow;
}

.green-text {
  @include text-green;
}

.blue-text {
  @include text-blue;
}

.red-text {
  @include text-red;
}

.purple-text {
  @include text-purple;
}

// Colori

.yellow {
  color: gold;
}

.green {
  color: #00ff00;
}

.blue {
  color: #0077ff;
}

.red {
  color: #ff0000;
}

.purple {
  color: purple;
}

// Background colori

.yellow-bg {
  background-color: gold;
  color: black; 
}

.green-bg {
  background-color: #00ff00;
  color: black;
}

.blue-bg {
  background-color: #0077ff;
  color: black;
}

.red-bg {
  background-color: #ff0000;
  color: white;
}

.purple-bg {
  background-color: purple;
  color: white;
}


// Background colori gradineti

.yellow-bg-linear {
  background: linear-gradient(to right, gold 0%, darkgoldenrod 50%, rgb(40, 39, 39) 100%);
  color: black;
}

.green-bg-linear {
  background: linear-gradient(to right, #00ff00 0%, #008000 50%, #003300 100%);
  color: black;
}

.blue-bg-linear {
  background: linear-gradient(to right, #0077ff 0%, #0000ff 50%, #001133 100%);
  color: black;
}

.red-bg-linear {
  background: linear-gradient(to right, #ff0000 0%, #b30000 50%, #660000 100%);
  color: white;
}

.purple-bg-linear {
  background: linear-gradient(to right, #da70d6 0%, #800080 50%, #4b0082 100%);
  color: white;
}


// Background colori gradineti per linee

.yellow-bg-line {
  background: linear-gradient(to left, gold 0%, darkgoldenrod 50%, rgb(40, 39, 39) 100%);
}

.green-bg-line {
  background: linear-gradient(to left, #00ff00 0%, #008000 50%, #003300 100%);
}

.blue-bg-line {
  background: linear-gradient(to left, #00d4ff 0%, #0000ff 50%, #001133 100%);
}

.red-bg-line {
  background: linear-gradient(to left, #ff0000 0%, #b30000 50%, #660000 100%);
}

.purple-bg-line {
  background: linear-gradient(to left, #da70d6 0%, #800080 50%, #4b0082 100%);
}