*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.fa-solid.fa-trash{
  margin-right: 3px;
  background: linear-gradient(90deg, #ff4500, #ff6347, #ff7f50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, gold 0%, darkgoldenrod 50%, rgb(40, 39, 39) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 15px auto;
}
.search-bar span,
.done{
  background-color: #3A5F0B;
}

.search-bar{
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  input{
      padding: 5px;
      flex-grow: 1;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #444;
  }

  span{
      padding: 5px 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
}